accelerate==0.21.0
av==12.2.0
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
diffusers==0.30.3
igraph==0.11.6
imageio==2.33.0
imageio-ffmpeg==0.4.9
omegaconf==2.2.3
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
opencv-python-headless==4.8.0.76
termcolor==2.4.0
terminado==0.18.0
TextGrid==1.6.1
zipp==3.16.2
torchdiffeq
torchmetrics
torchsde
controlnet-aux==0.0.7
wandb
igraph
termcolor==2.4.0
TextGrid==1.6.1
zipp
ConfigArgParse
librosa
timm
smplx
loguru
lmdb
ipython
h5py
bitsandbytes
lpips
hjson
py-cpuinfo
decord
wandb